In [2]:
# Import dependencies
import pandas as pd

In [3]:
# Read in csv file
file_to_load = "vine_table.csv"
vine_df = pd.read_csv(file_to_load)
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3P2HIOQCIN5ZU,1,0,0,N,Y
1,R12VVR0WH5Q24V,5,0,0,N,Y
2,RNCCKB6TV5EEF,4,0,0,N,Y
3,R2NZXYIVCGB13W,5,0,6,N,Y
4,R2EQ1TG9IT3OEQ,3,0,0,N,Y

In [4]:
# Filter DF by those with total votes greater or equal to 20 
total_votes_df = vine_df.loc[vine_df["total_votes"] >= 20]
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y

In [20]:
# Filter DF by those whose percentage of helpful votes / total votes is greater or equal to 50%
helpful_votes_df = total_votes_df.loc[total_votes_df["helpful_votes"] / total_votes_df["total_votes"] >= .5]
helpful_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y

In [21]:
# Filter DF for reviews written as part of the Vine Program 

vine_yes_df = helpful_votes_df.loc[percent_votes_df["vine"] == 'Y']
vine_yes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270349,R2N45ZKRRZS856,5,21,22,Y,N
306676,R5OMLMK13A8NS,5,34,38,Y,N
1050160,R2MPEQ4SPTEQNS,4,180,184,Y,N
1224726,RIR0D3KJ0CQ31,4,21,21,Y,N
1231743,R1SPWJDHUWWC5E,5,88,98,Y,N

In [22]:
# Filter DF for reviews not written as part of the Vine Program 
vine_no_df = helpful_votes_df.loc[helpful_votes_df["vine"] == 'N']
vine_no_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y

In [23]:
# Total number of paid reviews (vine == Y)
total_reviews_paid = len(vine_yes_df)
total_reviews_paid

22

In [24]:
# Number of paid 5-star reviews
five_star_paid = len(vine_yes_df.loc[vine_yes_df["star_rating"] == 5])
five_star_paid

13

In [25]:
# Percentage of paid 5-star reviews
percent_five_star_paid = five_star_paid / total_reviews_paid * 100
percent_five_star_paid

59.09090909090909

In [26]:
# Total number of unpaid reviews (vine == N)
total_reviews_unpaid = len(vine_no_df)
total_reviews_unpaid

26987

In [27]:
# Total number of unpaid 5-star reviews
five_star_unpaid = len(vine_no_df.loc[vine_no_df["star_rating"] == 5])
five_star_unpaid

14475

In [28]:
# Percentage of unpaid 5-star reviews
percent_five_star_unpaid = five_star_unpaid / total_reviews_unpaid * 100
percent_five_star_unpaid

53.63693630266425

## Additional Queries for Summary Analysis

In [39]:
# Average star rating for Vine reviews
mean_paid = round(vine_yes_df["star_rating"].mean(),2)
mean_paid

4.36

In [37]:
# Average star rating for non-Vine reviews
mean_unpaid = round(vine_no_df["star_rating"].mean(),2)
mean_unpaid

3.86

In [40]:
# Avearge star rating for all reviews
mean_all_reviews = round(helpful_votes_df["star_rating"].mean(),2)
mean_all_reviews

3.86